#!/bin/bash

# Commented cause this might fail
#set -eufo pipefail

echo "Configuring system"

# {{ template "macos" }}

if [ -d "/Applications/iTerm.app" ]; then
    dotfiles_echo "Setting up iTerm2 preferences"

    # Specify the preferences directory
    defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "${HOME}/.config/iterm2"

    # Tell iTerm2 to use the custom preferences in the directory
    defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
fi
